<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
    
    <title>Gowdru Meat Farm About us</title>
<link rel="stylesheet" href="../css/style.css">
    
    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    
<header>
  <div class="headerfootercolor" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
        <a href="../index.html">
          <img src="../Images/LogoKanada.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" style="width:200px !important" >
          </a>
          <!--<h4 class="logoColor">Gowdru Meat Farm</h4> -->
          
        </div>
        <div class="col-sm-3 offset-md-1 py-4">
          <ul class="list-unstyled">
            <li><a href="../views/about.html" class="logoColor">About</a></li>
            <li><a href="../index.html#menu" class="logoColor">Menu</a></li>
            <li><a href="../views/contactus.html" class="logoColor">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</header>



<main>
<div class="mainbackgroundcolor">
<h1 class="aboutheader">About Us</h1>
<h2 class="text-center aboutmeat">Organic Meat To Meat Lovers</h2>
<div class="">
<div class="container " id="about">
  <div class="row">
    <div class="bannerimg">
      <img src="../Images/Logo.jpg" class="responsive imgbanner" alt="Table Setting">
      
    </div>
    <div>
    <p class="aboutcenter">Knowing origin of meat and it&#39;s source is as important as eating the meat. We take pride in saying the
meat we supply originates from our inhouse farm spread over 12 acres. The sheep and goats are reared
amidst this pristine farmland in an organic way. Our livestock is fed with organic crops like napier, maize
corn, finger millet (ragi) grass grown in our farmland.
The lambs we choose for meat is between 8 to 10 months old to savor the most tender and tasty meat.
The mutton/meat is exclusively from male sheep (TAGARU) and male goats (VAATHA).
Creating a direct farm to fork concept is our endeavour. We plan to achieve this through an integrated
model which includes inhouse livestock rearing, slaughterhouse and meat supply to cater to the meat
market/industry.
We serve only fresh mutton/meat, no preservatives or stored meat, the freshest with all the juices and
goodness intact. All this at an economical price.</p>
    
    </div>
  </div>

  </div>
  </div>
  </div>
  </main>
  
  <footer class="text-muted py-5 headerfootercolor">
  <div class="container">
  <div class="row">
    <div class="col">
      <div class="footer_head">Contact us</div>
      <p class="">Gowdru Meat Farm,</br>servey #27,</br> Kumlugudu Main Road,</br>Thathaguni Post,</br> Kengeri Hobli,</br>Bangalore - 560062</br> Landmark : G R International School Road</p>
    <p>You can also contact us by phone or watsapp 6363475050 or email gowdrumeatfarm@gmail.com</p>
    </div>
    <div class="col">
      <div class="footer_head">About me</div>
      <p class="w3-text-blue-grey w3-large">Knowing origin of meat and it&#39;s source is as important as eating the meat. We take pride in saying the
meat we supply originates from our inhouse farm spread over 12 acres.
The lambs we choose for meat is between 8 to 10 months old to savor the most tender and tasty meat. All this at an economical price.</p>
    </div>
    <div class="col">
      <img data-lazy="../images/copyright2.png" src="../images/copyright2.png">
      2022 Gowdru Meat Farm. All Rights Reserved.
    </div>
  </div>
  
    
  </div>

</footer>
</body>
</html>